# EditorConfig is awesome: https://EditorConfig.org
# This file is shared by this repo, but is also the default for any project on this computer that doesn't have its own EditorConfig file.

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab
indent_size = 4

[.circleci/config.yml]
indent_style = space

[.travis.yml]
indent_style = space

[*.py]
indent_style = space
